<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet"/>
</head>
<body>

<h1>Home</h1>

<ul th:if="${username}">
    <li>
        <a th:href="@{/}">
            <span th:text="${username}"></span>
        </a>
    </li>
    <li th:each="link, iterStat : ${breadcrumbLinks}" th:if="${!#strings.isEmpty(link)}">
        <a th:href="${'/?path=' + link}">
            <span th:text="${breadcrumbFolders[iterStat.index]}"></span>
        </a>
    </li>
</ul>

<h2>File upload</h2>
<form method="post" th:action="@{/files}" th:object="${fileUploadRequest}">
    <input name="file" th:field="*{file}" type="file"/>
    <input th:name="owner" th:value="${username}" type="hidden"/>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <button formenctype="multipart/form-data" type="submit">Submit</button>
</form>

<h2>Folder upload</h2>
<form method="post" th:action="@{/folders}" th:object="${folderUploadRequest}">
    <input name="files" th:field="*{files}" type="file" webkitdirectory/>
    <input th:name="owner" th:value="${username}" type="hidden"/>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <button formenctype="multipart/form-data" type="submit">Submit</button>
</form>

<h2>Files</h2>
<ol th:if="${username}">
    <li th:each="file : ${files}">
        <div th:unless="${file.isDir}">
            <span th:text="${file.name}"></span>
            <form th:action="@{/files}" th:method="delete" th:object="${fileDeleteRequest}">
                <input th:name="path" th:value="${file.path}" type="hidden">
                <input th:name="owner" th:value="${username}" type="hidden">
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/files}" th:method="put" th:object="${fileRenameRequest}">
                <input th:name="currentName" th:value="${file.name}" type="hidden">
                <input required th:field="*{newName}" type="text">
                <input th:name="path" th:value="${file.path}" type="hidden">
                <input th:name="owner" th:value="${username}" type="hidden">
                <button type="submit">Rename</button>
            </form>
            <form th:action="@{/files}" th:method="get" th:object="${fileDownloadRequest}">
                <input th:name="path" th:value="${file.path}" type="hidden">
                <input th:name="owner" th:value="${username}" type="hidden">
                <input th:name="name" th:value="${file.name}" type="hidden">
                <button type="submit">Download</button>
            </form>
        </div>
        <div th:if="${file.isDir}">
            <a th:href="@{'/?path=' + ${file.path}}" th:text="${file.name}"></a>
            <form th:action="@{/folders}" th:method="delete" th:object="${folderDeleteRequest}">
                <input th:name="path" th:value="${file.path}" type="hidden">
                <input th:name="owner" th:value="${username}" type="hidden">
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/folders}" th:method="put" th:object="${folderRenameRequest}">
                <input th:name="currentName" th:value="${file.name}" type="hidden">
                <input required th:field="*{newName}" type="text">
                <input th:name="path" th:value="${file.path}" type="hidden">
                <input th:name="owner" th:value="${username}" type="hidden">
                <button type="submit">Rename</button>
            </form>
        </div>
    </li>
</ol>


<h2>Search</h2>
<form th:action="@{/search}" th:method="get">
    <input required th:name="query" type="text">
    <button type="submit">Search</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js" type="text/javascript"></script>
</body>
</html>